@use './styles/colours' as *;


/***********
*Ant Layout*
***********/
.ant-layout-has-sider {
  display: flex;
}

.ant-layout-header {
  padding: 0;
}

.ant-layout-header .ant-menu {
  background: $primary;
  color: #FFFFFF;
}

.ant-layout-content {
  background: #FFFFFF;
  font-family: 'Bree Serif', serif;
  min-height: calc(100vh - 7rem);
  width: calc(100% - 200px);
}

.ant-layout-sider-children {
  background: $tertiary;
}

.ant-layout-footer {
  color: $secondary;
  height: 2rem;
  padding: 0;
}

/*********
*Ant Card*
*********/
.ant-card {
  background: $secondary;
  outline: 1px solid $tertiary;
}

.ant-card-body, .ant-card-head {
  background: $secondary;
}


/*************
*Ant Timeline*
*************/
.ant-timeline-item-last > .ant-timeline-item-content{ 
  min-height: 0;
  padding-bottom: 1rem;
}

.ant-timeline-item-tail {
    display: none;
}

.ant-timeline-item {
  padding-bottom: 0;
}

/*********
*Ant Tabs*
*********/
.ant-tabs-nav-list {
  justify-content: space-around;
  width: 100%;
}

.ant-tabs-tab:hover {
  color: $tertiary;
}

/***********
*Ant Button*
***********/
.ant-btn {
  background: $primary-light;
  
  &:hover {
    background: $primary;
    border: white;
    color: white;
  }
}

.ant-btn-circle {
  background: $primary-light;
  margin-left: 1rem;

  &:hover {
    background: $primary;
    border: white;
    color: white;
  }
}

/***********
*Ant Avatar*
***********/
.ant-avatar {
  background: $avatar;
  border: 1px solid black;
  height: 40px;
  font-size: 1.5rem;
  width: 40px;
}

/*****************
*Ant Spin & Space*
*****************/
.ant-space {
  display: flex;
  justify-content: center;
  margin-top: 30vh;
}

.ant-spin-dot-item {
  background: $primary;  
}

.ant-spin-text {
  color: $primary;
}

/**********
*Ant Modal*
**********/
.ant-modal-close-x {
  display: none;
}

@import '~antd/dist/antd.css';