.search {

   

    &__tab-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 50%;
    }

    &__search-by-ingredients-description {
        text-align: center;
    }
}

.ant-card.search__container {
    margin: 2rem auto 0;
    width: 40%;
}

.ant-btn.search__search-button {
    align-items: center;
    display: flex;
    margin: 1rem auto 0;
}

.ant-input.search__small-input {
    width: 75%;
}