.shopping-list {
    
    &__container {
    margin: 2rem auto 0;
    width: 20%;
    }

    &__item-text {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    &__add-form {
        display: flex;
        align-items: center;
    }

    &__add-input-container {
        width: 75%;
    }

    &__add-input {
        &--empty {
            border: none;
            outline: 1px solid red;
        }
    }
}