.ingredients-checklist {
    font-family: 'Outfit', sans-serif;

    &__title {
        color: white;
        padding: 0.5rem 0 0.25rem;
        text-align: center;
    }
}

.submenuIcon {
    width: 20px;
}
