.recipe {

    &__container {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }

    &__img-ingredients-container {
        display: flex;
        flex-direction: column;
        width: 33%;
    }

    &__name-directions-container {
        display: flex;
        flex-direction: column;
        width: 33%;
    }

    &__ingredient-container {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
    }
    
    &__step {
        text-align: left;
    }

    &__add-related-container {
        margin-left: 3rem;
        width: 20%;
    }

    &__add-button {
        margin-left: 3rem;
    }

    &__tag-container {
        display: flex;
        text-align: center;
    }
}