p {
    padding: 0 1rem;
}

.navbar {
    border-bottom: 1px solid black;
    display: flex;
}

.div-container {
    display: flex;

    &--left {
        width: 75%;
    }

    &--right {
        width: 25%;
    }
}